<% include header %>
<img src="/img/LOGO.png"></img>

<div class="onderfoto">
  <h1 class="slogan">your guide to go</h1>
  <p class="vet">Wie zijn wij?</p>
  <p>AMERT is een team jonge studeten van de Artesis Plantijn Hogeschool.</p>
  <p class="vet">Wat doen wij?</p>
  <p>Wij de app voor elke markt in Antwerpen</p>
  <p>Met behulp van de Antwerpse databank.</p>
  <p class="vet">CONTACT</p>
  <p>info@amert.be</p>
  <p>011 80 50 30</p>
</div>

<div class="formulier">
<form action="#">
    <h1> Laat ons iets weten</h1>
    <label for="naam">Uw naam en voornaam</label>
    <input type="text" name= "naam" id="naam">
    <label for="emailadres">Uw e-mail adres</label>
    <input type="email" name="emailadres" id="emailadres">
    <label for="motivatie">Schrijf een reactie</label>
    <input type="text" name= "reactie" id="reactie">
    <input type="submit" name="Verzenden" value="Verzenden">
</form>
</div>
<% include footer %>
