<% include header %>
<img src="/img/LOGO.png"></img>

<div class="onderfoto">
  <h1 class="slogan">your guide to go</h1>
  <p class="vet">Wie zijn wij?</p>
  <p>AMERT is een team jonge studeten van de Artesis Plantijn Hogeschool.</p>
  <p class="vet">Wat doen wij?</p>
  <p>Wij de app voor elke markt in Antwerpen</p>
  <p>Met behulp van de Antwerpse databank.</p>
  <p class="vet">CONTACT</p>
  <p>info@amert.be</p>
  <p>011 80 50 30</p>
</div>
<% include footer %>
