<% include header %>
<img src="/img/LOGO.png" width= 180px, height= 120px></img>

<div class="midden">
<p class="vet">Wie zijn wij?</p>
<p>AMERT</p>
<p class="vet">Wat doen wij?</p>
<p>???</p>
<p class="vet">CONTACT</p>
<p>info@amert.be</p>
<p>011 80 50 30</p>
</div>
<% include footer %>
