
<footer>
  <div class="titel">
    <nav>
      <a <% if ( active == "lijst") { %> class="active" <% }%> href="/lijst">LIJST</a>
      <a <% if ( active == "map") { %> class="active" <% }%> href="/">MAP</a>
      <a <% if ( active == "contact") { %> class="active" <% }%> href="/contact">CONTACT</a>
    </nav>
  </div>
</footer>

</body>
</html>
