<% include header %>

<div class="titel">
<h1>LIJST</h1>
</div>

<ul>
<% for(var i=0; i < naam_frontend.length; i++){ %>
  <li><a href="/detail/<%=i%>" class="<%- naam_frontend[i].attributes.niveau %>"><%- naam_frontend[i].attributes.locatie %></a></li>
<% }%>
<ul>


<% include footer %>
