<% include header %>
<div class="titel">
<h1>MAP</h1>
</div>
 <div id='mapje'></div>
 <script src='/libraries/leaflet.js'></script>
<script src='/js/script.js'></script>
<script>







</script>


<% include footer %>
