* {margin: 0; padding: 0;}
#mapje {
  width: 80vw;
  height: 80vh;
	margin: 0em auto;
}

html{
  font-family: "helvetica";
}

p{
  font-family: "helvetica";
}

.midden{
  margin-left: 30px;
  margin-top: 30px;
}

.titel h1{
  padding: 20px;
    margin-top: 20px;
    font-family: "helvetica";
    font-weight: bold;
    color: #e60005;
}

.detail{
  margin-left: 50px;
  margin-top: 50px;
}

header nav {
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: #e60005;
padding: 20px;
}

a{
  color: black;
  line-height: 15;
  margin-left: 100px;
}

nav a{
  font-size: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.vet{
  font-weight: bold;
}

footer{
  text-align: center;
  padding: 100px
}
